{% extends 'main/base_template.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}

<!--ПЕРЕДЕЛАТЬ НАХРЕН ВСЕ ЧТОБ ПЕРВАЯ СТРАНИЦА БЫЛА КОНФЕТКОЙ -->

<p class="my-0 me-md-auto fw-normal p-2 text-white bg-dark aligh-items-center"><big><big><big><big>Переход на страницы:</big></big></big></big></p>
<UL >
		<LI align="middle"><a href = "/first"><big><big>Первая</big></big>
        <LI align="middle"><a href = "/second"><big><big>Вторая</big></big>
        <LI align="middle"><a href = "/third"><big><big>Третья</big></big>
        <LI align="middle"><a href = "/CreateFold"><big><big>Создание записи о складе</big></big>
    </UL>
{% endblock %}
